.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: none;
  background: none;
  z-index: 15;
}

.burgerLines {
  width: 2rem;
  height: 0.2rem;
  border-radius: 20px;
  background-color: black;
  position: relative;
  transition: 0.5s ease-in-out;
}

.burger.open div:first-child {
  transform-origin: left top;
  transform: rotate(41deg);
}

.burger.open div:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.burger.open div:nth-child(3) {
  transform: rotate(-41deg);
  transform-origin: left bottom;
}

@media only screen and (min-width: 600px) {
  .burger {
    display: none;
  }
}
