* {
  box-sizing: border-box;
}

.header {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  padding: 0 10vw;
}

.logo {
  display: block;
  margin: 0 auto;
}

.logo span {
  font-family: var(--font-logo);
  font-size: 2.2rem;
}

@media only screen and (min-width: 600px) {
  .logo {
    margin: 0;
  }
}
