:root {
  --font-logo: 'Jua', sans-serif;
  --font-titles: 'Anton', sans-serif;
  --font-text: 'Roboto', sans-serif;
  --color-coral: #fe9d79;
}

a {
  text-decoration: none;
}

* {
  color: black;
}

span,
p {
  font-family: var(--font-text);
}

button {
  cursor: pointer;
}
